:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: #008afc;
    --accent-color2: #e21c21;
    --title-color: #f07170;
    --bg-color: #fff;
    --button-color: #f26d44;
    --button-hover-color: #d4d4d4;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: "Roboto Condensed", sans-serif;
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

a.btn,
button.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-color);
    border-radius: 5px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

a.btn:hover,
button.btn:hover {
    color: var(--accent-color2);
    background-color: var(--button-hover-color);
}